<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>New Login to Your Account</title>
</head>

<body>
    <p>Hello {userName},</p>

    <p>
        We detected a new login to your account.
    </p>

    <p>
        <strong>IP address:</strong> {ipAddress}
        <strong>Browser:</strong> {browser}

    </p>

    <p>
        If this was you, no action is required.
    </p>

    <p>
        If you don't recognize this login, please secure your account by resetting your password immediately:
    </p>

    <p>
        <a href="{resetLink}">Reset Your Password</a>
    </p>

    <p>
        If you believe someone else has accessed your account, please contact support.
    </p>

    <p>
        Regards,<br />
        HelpDesk Security Team
    </p>

</body>

</html>