<button type="button" (click)="toggleLanguage()">
  {{ languageService.currentLanguage === 'ar' ? 'English' : 'العربية' }}
</button>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p-card [header]="'AUTH.LOGIN.TITLE' | translate" [style]="{ width: '360px' }">
    <div class="field">
      <!-- Email -->

      <label for="email">
        {{ 'AUTH.LOGIN.EMAIL' | translate }}
      </label>

      <input
        id="email"
        type="email"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        [placeholder]="'AUTH.LOGIN.EMAIL_PLACEHOLDER' | translate"
        autocomplete="email"
      />

      @if (showEmailError) {
        @if (requiredEmailError) {
          <small class="block login-error"> Email is required. </small>
        } @else if (emailError) {
          <small class="block login-error"> Email should be valid. </small>
        }
      }
    </div>

    <div class="field">
      <!-- Password -->

      <label for="password">
        {{ 'AUTH.LOGIN.PASSWORD' | translate }}
      </label>
      <input
        id="password"
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        [placeholder]="'AUTH.LOGIN.PASSWORD' | translate"
      />
      @if (showPasswordError) {
        @if (requiredPasswordError) {
          <small class="block login-error"> Password is required. </small>
        } @else if (passwordMinLengthError) {
          <small class="block login-error"> Password must be at least 6 characters. </small>
        }
      }
    </div>

    <div class="login-button">
      <p-button
        type="submit"
        [label]="'AUTH.LOGIN.SUBMIT' | translate"
        styleClass="w-full"
        [disabled]="loginForm.invalid"
      />
    </div>
  </p-card>

  <div class="mt-2">
    {{ 'AUTH.LOGIN.NOT_A_MEMBER' | translate }}
    <a routerLink="/auth/register">
      {{ 'AUTH.LOGIN.REGISTER' | translate }}
    </a>
  </div>
</form>
